# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sistema_rotas?schema=public

# Backend
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3001
